* {
    padding: 0px;
    margin: 0px;
    font-family: 'Arkhip', sans-serif;
    font-size: 17px;
}

/* Section for the Navigation Bar */
.navbar {
    display: flex;
    position: static;
    top: 0;
    width: 100%;
    padding: 30px;
    z-index: 2;
    color: black;
    background-color: white;
}

.navbar .menu {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar .wishlist {
    float: right;
    position: relative;
    top: 10px;
    padding-right: 30px;
    right: 2%;
}

.navbar .menu a,
.navbar .wishlist a {
    text-decoration: none;
    padding: 10px;
    color: black;
    font-family: 'Beach Lombok', sans-serif;
    font-size: 15px;
}

.navbar .menu a > i {
    padding: 15px;
    font-size: 1.2em;
}

.navbar .brand {
    margin: auto;
}

.navbar .brand p {
    font-size: 30px;
    font-weight: 700;
}

.navbar .menu input {
    border-radius: 20px;
    display: none;
}


/* Hover effects */
.navbar:hover,
.navbar .menu a:hover,
.navbar .wishlist a:hover {
    background-color: #0A6847;
    color: white;
    transition: all 300ms ease-in-out;
}

/* Media Queries for Navbar */
@media screen and (max-width:800px) {
    .navbar .wishlist,
    .navbar .search {
        display: none;
    }
}

/* Section for Infographics */
.infographic {
    margin: auto;
    width: 100%;
    padding-top: 30px;
}

.infographic > .infographic-container1,
.infographic > .infographic-container3 {
    display: grid;
    grid-template-columns: 67% 33%;
}

.infographic > .infographic-container2 {
    display: grid;
    grid-template-columns: 33% 67%;
}

.infographic > .infographic-container1 > .text-container,
.infographic > .infographic-container2 > .text-container,
.infographic > .infographic-container3 > .text-container {
    padding: 0 20px 0 20px;
    height: 300px;
}

.infographic > .infographic-container1 > .text-container > p,
.infographic > .infographic-container2 > .text-container > p,
.infographic > .infographic-container3 > .text-container > p {
    font-size: 25px;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30%;
}

.infographic > .infographic-container1 .image-section,
.infographic > .infographic-container2 .image-section,
.infographic > .infographic-container3 .image-section {
    width: 100%;
}

.infographic > .infographic-container1 .image-section img,
.infographic > .infographic-container2 .image-section img,
.infographic > .infographic-container3 .image-section img {
    object-fit: fill;
    height: 300px;
    width: 100%;
}

/* Media Queries */
@media screen and (max-width:850px) {
    .infographic > .infographic-container1,
    .infographic > .infographic-container2,
    .infographic > .infographic-container3 {
        display: grid;
        grid-template-columns: 50% 50%;
    }


    .infographic > .infographic-container1 > .text-container > p,
    .infographic > .infographic-container2 > .text-container > p,
    .infographic > .infographic-container3 > .text-container > p {
        font-size: 20px;
        position: relative;
        top: 30%;
    }  
}


/* Section for Footer */
footer {
    background-color: #0A6847;
    padding: 30px;
    margin-top:30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-wrapper1, .footer-wrapper2 {
    display: flex;
    flex-direction: row;
}

.footer-wrapper2 {
    justify-content: end;
    align-items: end;
    text-align: end;
}

.footer-wrapper1 > p,
.footer-wrapper1 > a,
.footer-wrapper2 > p,
.footer-wrapper2 > a {
    color: white;
    font-size: 10px;
    text-decoration: none;
    padding: 0 10px;
}

/* Hover effects for Footer */
.footer-wrapper1 > a:hover,
.footer-wrapper2 > a:hover {
   text-decoration: underline;
   color: ivory;
   transition: ease-in-out 0.2s;
   cursor: pointer;
}

/* Media Queries */
@media screen and (max-width:850px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .footer-wrapper1, .footer-wrapper2 {
        padding: 5px;
    }

    .footer-wrapper2 {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: center;
        align-items: center;
        line-height: 1.8;
    }
}